@import "variables";
@import "mixins";
@import "reboot";


.button-base {
  border-radius: 14px;
  font-size: 14px;
  border: 1px solid $primary-color;
  cursor: pointer;
}
.header-button-base {
  @extend .button-base;
  padding: 4px 24px;
}

.header {
  @include flex(space-between, center);
  font-size: $font-size-base;
  padding: 20px 40px;
  border-bottom: 1px solid $border-color;
  &-logo {
    color: $white;
    font-size: 36px;
    font-weight: bolder;
  }
  &-button {
    &-login {
      @extend .header-button-base;
      @include bg-font-color($body-bg, $primary-color);
    }
    &-register {
      @extend .header-button-base;
      @include bg-font-color($primary-color, $white);
    }
  }
}



.content {
  @include flex(center, center);
  color: $white;
  &-form {
    @include flex(space-between, stretch);
    flex-direction: column;
    margin-top: 100px;
    padding: 30px;
    width: 360px;
    height: 420px;
    background-color: $body-bg;
    border: 1px solid $border-color;
    border-radius: $border-radius-base;
    font-size: 14px;
    text-align: center;
    color: $color-base;
    input {
      background-color: $body-bg;
      border-bottom: 1px solid $border-color;
      padding-bottom: 24px;
      color: $white;
      &::-webkit-input-placeholder {
        color: $color-base;
      }
    }
    &-title {
      text-align: center;
      padding-bottom: 20px;
      font-size: 20px;
    }
    &-forget {
      color: $primary-color;
      text-align: left;
      cursor: pointer;
    }
    &-login {
      @extend .header-button-base;
      @include bg-font-color($body-bg, $primary-color);
    }
    &-reigster {
      @extend .header-button-base;
      @include bg-font-color($primary-color, $body-bg);
      color: $white;
    }
  }
}